<?xml version="1.0"?>
<config>
    <modules>
        <gatewaywelight>
            <version>3.9.0</version>
        </gatewaywelight>
    </modules>
    <global>
        <models>
            <gatewaywelight>
                <class>gatewaywelight_Model</class>
                <resourceModel>gatewaywelight_resource</resourceModel>
            </gatewaywelight>
            <gatewaywelight_resource>
                <class>gatewaywelight_Model_Resource</class>
                <entities>
                    <kiosk>
                        <table>gatewaywelight_kiosk</table>
                    </kiosk>
                </entities>
            </gatewaywelight_resource>
        </models>
        <blocks>
            <gatewaywelight>
                <class>gatewaywelight_Block</class>
            </gatewaywelight>
        </blocks>
        <helpers>
            <gatewaywelight>
                <class>gatewaywelight_Helper</class>
            </gatewaywelight>
        </helpers>
        <resources>
            <gatewaywelight_setup>
                <setup>
                    <module>gatewaywelight</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </gatewaywelight_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <adminhtml_controller_action_predispatch_start>
                        <type>model</type>
                        <class>gatewaywelight/observer</class>
                        <method>validateRecurringProfile</method>
                    </adminhtml_controller_action_predispatch_start>
                </observers>
            </catalog_product_save_after>
            <core_abstract_save_before>
                <observers>
                    <update_recurring_customer_id>
                        <type>model</type>
                        <class>gatewaywelight/observer</class>
                        <method>updateRecurringCustomerId</method>
                    </update_recurring_customer_id>
                </observers>
            </core_abstract_save_before>

        </events>
    </global>
    <frontend>
        <routers>
            <gatewaywelight>
                <use>standard</use>
                <args>
                    <module>gatewaywelight</module>
                    <frontName>pseguro</frontName>
                </args>
            </gatewaywelight>
        </routers>
        <translate>
            <modules>
                <gatewaywelight>
                    <files>
                        <default>gatewaywelight.csv</default>
                    </files>
                </gatewaywelight>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <welight>
                        <class>gatewaywelight/observer</class>
                        <method>addDirectPaymentBlock</method>
                    </welight>
                </observers>
            </core_block_abstract_to_html_after>
            <gatewaywelight_kioskorder_notification_received>
                <observers>
                    <kiosk_notification>
                        <class>gatewaywelight/kiosk</class>
                        <method>createOrderFromNotification</method>
                    </kiosk_notification>
                </observers>
            </gatewaywelight_kioskorder_notification_received>
        </events>
        <layout>
            <updates>
                <gatewaywelight>
                    <file>gatewaywelight.xml</file>
                </gatewaywelight>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <gatewaywelight>
                    <file>gatewaywelight/welight.xml</file>
                </gatewaywelight>
                <gatewaywelight_recurring>
                    <file>gatewaywelight/sales.xml</file>
                </gatewaywelight_recurring>
            </updates>
        </layout>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <gatewaywelight_healthcheck>
                        <type>singleton</type>
                        <class>gatewaywelight/healthcheck</class>
                        <method>basicCheck</method>
                    </gatewaywelight_healthcheck>
                </observers>
            </admin_session_user_login_success>
            <admin_system_config_changed_section_payment>
                <observers>
                    <gatewaywelight_healthcheck>
                        <type>singleton</type>
                        <class>gatewaywelight/healthcheck</class>
                        <method>check</method>
                    </gatewaywelight_healthcheck>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </adminhtml>
    <default>
        <payment>
            <welight_cc>
                <model>gatewaywelight/payment_ccview</model>
                <title>Cartão de Crédito - via welight UOL (antigo)</title>
            </welight_cc>
            <rm_welight_cc>
                <active>0</active>
                <title>Cartão de Crédito - via welight UOL</title>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <flag>42x20</flag>
                <payment_action>order</payment_action>
                <model>gatewaywelight/payment_cc</model>
                <allowspecific>0</allowspecific>
                <send_neworder_email>0</send_neworder_email>
                <!--<specificcountry>BR</specificcountry>-->
                <group_restriction>0</group_restriction>
                <info_brl>1</info_brl>
                <total_installments>0</total_installments>
                <force_installments_selection>0</force_installments_selection>
                <installments_product>0</installments_product>
                <sort_order>1</sort_order>
            </rm_welight_cc>
            <rm_welight>
                <customer_cpf_attribute>taxvat</customer_cpf_attribute>
                <address_telephone_attribute>telephone</address_telephone_attribute>
                <address_street_attribute>street_1</address_street_attribute>
                <address_number_attribute>street_2</address_number_attribute>
                <address_neighborhood_attribute>street_2</address_neighborhood_attribute>
                <ws_url>https://ws.welight.uol.com.br/v2/</ws_url>
                <ws_url_app>https://ws.Gateway.net.br/pspro/v7/wswelight/v2/</ws_url_app>
                <js_url>https://stc.welight.uol.com.br/welight/api/v2/checkout/welight.directpayment.js</js_url>
                <sandbox_ws_url>https://ws.sandbox.welight.uol.com.br/v2/</sandbox_ws_url>
                <sandbox_ws_url_app>https://ws.Gateway.net.br/pspro/v7/wswelight/v2/</sandbox_ws_url_app>
                <sandbox_js_url>https://stc.sandbox.welight.uol.com.br/welight/api/v2/checkout/welight.directpayment.js</sandbox_js_url>
                <exception_request_validate>onestepcheckout/ajax/savePaymentMethod</exception_request_validate>
                <jsdelivr_enabled>1</jsdelivr_enabled>
                <jsdelivr_minify>1</jsdelivr_minify>
            </rm_welight>
            <rm_welight_kiosk>
                <active>0</active>
                <title>Pagamento avulso - via welight UOL</title>
                <order_status>pending</order_status>
                <model>gatewaywelight/payment_kiosk</model>
                <allowspecific>0</allowspecific>
                <send_neworder_email>1</send_neworder_email>
            </rm_welight_kiosk>
            <rm_welight_recurring>
                <active>0</active>
                <title>Cartão de Crédito Recorrente - via welight UOL</title>
                <!--                <order_status>pending</order_status>-->
                <allowspecific>0</allowspecific>
                <flag>42x20</flag>
                <payment_action>order</payment_action>
                <model>gatewaywelight/payment_recurring</model>
                <allowspecific>0</allowspecific>
                <send_neworder_email>1</send_neworder_email>
                <sort_order>40</sort_order>
                <group_restriction>0</group_restriction>
                <info_brl>1</info_brl>
            </rm_welight_recurring>
            <!--Para referencia-->
            <!--<paypal_express>
                <model>paypal/express</model>
                <title>PayPal Express Checkout</title>
                <payment_action>Authorization</payment_action>
                <solution_type>Mark</solution_type>
                <line_items_enabled>1</line_items_enabled>
                <visible_on_cart>1</visible_on_cart>
                <visible_on_product>1</visible_on_product>
                <allow_ba_signup>never</allow_ba_signup>
                <group>paypal</group>
                <authorization_honor_period>3</authorization_honor_period>
                <order_valid_period>29</order_valid_period>
                <child_authorization_number>1</child_authorization_number>
                <verify_peer>1</verify_peer>
                <skip_order_review_step>1</skip_order_review_step>
            </paypal_express>-->
        </payment>
    </default>
    <phpunit>
        <suite>
            <modules>
                <gatewaywelight/>
            </modules>
        </suite>
    </phpunit>
    <crontab>
        <jobs>
            <gatewaywelight_recurring_update>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gatewaywelight/cron::updateRecurringPayments</model>
                </run>
            </gatewaywelight_recurring_update>
        </jobs>
    </crontab>
</config>
