<?xml version="1.0"?>
<config>
    <modules>
        <Welight_Gateway>
            <version>3.5.0</version>
        </Welight_Gateway>
    </modules>
    <global>
        <models>
            <welight_gateway>
                <class>Welight_Gateway_Model</class>
                <resourceModel>welight_gateway_resource</resourceModel>
            </welight_gateway>
            <welight_gateway_resource>
                <class>Welight_Gateway_Model_Resource</class>
            </welight_gateway_resource>
        </models>
        <blocks>
            <welight_gateway>
                <class>Welight_Gateway_Block</class>
            </welight_gateway>
        </blocks>
        <helpers>
            <welight_gateway>
                <class>Welight_Gateway_Helper</class>
            </welight_gateway>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
        <events>
            <welight_gateway_before_cancel_order>
                <observers>
                    <welight_gateway>
                        <type>singleton</type>
                        <class>welight_gateway/observer</class>
                        <method>beforeOrderCancellation</method>
                    </welight_gateway>
                </observers>
            </welight_gateway_before_cancel_order>
        </events>
        <template>
            <email>
                <payment_wegateway_retry_email_template>
                    <label>PagSeguro Retentativa</label>
                    <file>welight_gateway/retry.html</file>
                    <type>html</type>
                </payment_wegateway_retry_email_template>
            </email>
        </template>
    </global>
    <default>
        <payment>
            <wegateway_boleto>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Boleto - via PagSeguro UOL</title>
                <order_status>holded</order_status>
                <payment_action>order</payment_action>
                <model>welight_gateway/payment_boleto</model>
                <allowspecific>0</allowspecific>
                <!--<specificcountry>BR</specificcountry>-->
            </wegateway_boleto>
            <wegateway_tef>
                <active>0</active>
                <allowspecific>0</allowspecific>
                <title>Cartão de Débito (TEF) - via PagSeguro UOL</title>
                <order_status>holded</order_status>
                <payment_action>order</payment_action>
                <model>welight_gateway/payment_tef</model>
                <allowspecific>0</allowspecific>
                <!--<specificcountry>BR</specificcountry>-->
            </wegateway_tef>
            <wegateway_retry>
                <enabled>1</enabled>
                <days_to_cancel>2</days_to_cancel>
                <send_email>1</send_email>
                <show_link>1</show_link>
                <!--<email_template>welight_gateway_retry_email_template</email_template>-->
                <layout>one_column</layout>
                <disable_boleto>1</disable_boleto>
            </wegateway_retry>
            <wegateway_redirect>
                <enabled>1</enabled>
                <model>welight_gateway/payment_redirect</model>
                <title>PagSeguro - Pagar no PagSeguro</title>
                <redirectURL>checkout/onepage/success</redirectURL>
                <payment_action>order</payment_action>
                <description><![CDATA[Você será redirecionado para o PagSeguro onde poderá escolher a forma de pagamento desejada.]]></description>
                <order_status>pending</order_status>
                <sort_order>4</sort_order>
                <enable_recovery>1</enable_recovery>
                <disable_frontend>0</disable_frontend>
                <accepted_groups>CREDIT_CARD,BOLETO</accepted_groups>
            </wegateway_redirect>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <welight_gateway>
                    <file>welight_gateway.xml</file>
                </welight_gateway>
            </updates>
        </layout>
        <routers>
            <pseguropro>
                <use>standard</use>
                <args>
                    <module>Welight_Gateway</module>
                    <frontName>pseguropro</frontName>
                </args>
            </pseguropro>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <welight_gateway_cancel_retry_orders>
                <schedule>
                    <cron_expr>0 */12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>welight_gateway/retry::cancelExpiredRetryOrders</model>
                </run>
            </welight_gateway_cancel_retry_orders>
        </jobs>
    </crontab>
</config>